menu li {

    list-style: none;

}

menu a {

    color: var(--acent-color);

}

menu svg {
    width: 1rem;
    height: 1rem;

}

menu button {
    width: 100%;
}

menu>button:active {

    scale: 1.1;

}

menu>li>a:hover {

    background-color: var(--acent-color);
    color: var(--secondary-color);

}

menu>button:hover {

    background-color: var(--acent-color);
    color: var(--secondary-color);

}

#darkMode {

    display: none;
}

#lightMode {

    display: block;

}