:root {

    --primary-color: #f8f8f8;
    --secondary-color: #1c1c1c;
    --acent-color: #30b9f7;

}

:root.darkMode {

    --primary-color: #1c1c1c;
    --secondary-color: #f8f8f8;
    --acent-color: #0058ca;

}

* {

    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {

    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    transition: .4s ease-in-out background-color;

}

main {

    display: flex;
    flex-direction: column;
    /*padding: 2rem;*/
    background-color: transparent;

}

header {

    margin-bottom: 2rem;
    color: var(--acent-color);

}


section {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    transition: .4s ease-in-out background-color;

}

#firstLook img {

    width: 25vw;
    height: 25vw;
    max-width: 275px;
    max-height: 275px;
    min-width: 150px;
    min-height: 150px;
    border-radius: 100%;
    border: 1px transparent solid;
    margin: 0;

}

section {

    background-color: var(--secondary-color);

}

h3 {

    font-size: 2rem;
    transition: .4s ease-in-out color;

}

#contact>header {

    display: inline-flex;
    justify-content: space-between;
    gap: 2vw;

}


label {

    display: block;
}

.svgIcon {

    color: var(--acent-color);
    transition: scale ease-in-out .3s, rotate ease-in-out .3s;
    width: 30px;
    height: 30px;
    padding: 0.5rem;

}

.svgIcon:hover {

    color: var(--primary-color);
    scale: 1.5;
    rotate: 10deg;

}



ul>li {

    display: flex;

}

a {

    text-decoration: none;

}

p {

    padding: 0.5rem;

}

#arrowUp:hover {

    background-color: var(--acent-color);
    color: var(--secondary-color);
    border-color: var(--secondary-color);

}

#arrowUp:active {

    scale: 1.1;
}
