nav {

    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 1;

}

menu {

    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-color-translucent);
    margin: 0;
    padding: 0;
    backdrop-filter: blur(3px);
}